@use "variables" as *;

.logo__img {
  width: 20rem;
  height: 10rem;
}

.form-name,
.form-email {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 2;
  gap: 0.5rem;

  & > label {
    width: 3.1rem;
  }
}

.form-name {
  margin-bottom: 1rem;
}

h2 {
  font-size: $headlines-font-size;
  font-weight: $headlines-font-weight;
  line-height: $headlines-line-height;
  letter-spacing: $headlines-letter-spacing;
}

p {
  font-size: $normal-font-size;
  font-weight: $normal-font-weight;
  line-height: $normal-line-height;
  max-width: $font-max-width;
}

.list-group-item {
  font-size: $normal-font-size;
}
