@use "variables" as *;

.social,
.header-social-icons,
.footer-social-icons {
  display: flex;
  align-items: center;
}

.social {
  background-color: $usafa-blue;
  justify-content: space-between;
  align-items: center;
}

.main-nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  &--item {
    font-size: $normal-font-size;
    margin-right: 1rem;
  }
}

.header-social-icons {
  align-items: center;

  & > i {
    color: white;
    padding: 0 20px 0 20px;
  }
}

footer {
  background-color: $usafa-blue;
  color: $mint-cream;
  padding: 2rem 0 2rem 0;
}

.footer-social-icons > i {
  margin-right: 10px;
}

@media screen and (max-width: 900px) {
  .social,
  .header-social-icons,
  .footer-social-icons,
  .logo {
    display: block;
    text-align: center;
  }

  .main-row {
    display: block;
  }

  .main-col-1,
  .main-col-2 {
    width: 100%;
  }
}
